<h5><%= program.name %></h5>
<div class="row">
  <div class="twelve columns">
    <table class="program">
      <tbody>
        <%= render(program.activities) %>
      </tbody>
    </table>
  </div>    
</div>



